@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#000000;
    --dark-color:#c9bd1e;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    
}

body {
    transform: scale(1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

section{
    padding:0rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 0rem;
    position: relative;
    
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 2rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
}

.header .header-2{
    background:var(--green);
    text-align: center;
    
}


.header .header-2 .navbar a{
    background:var(--green);
    text-align: center;
    color:#fff;
    display: inline-block;
    padding:1.3em;
    font-size: 1.5em;
    
}

.header .header-2 .navbar a:hover{
    background:var(--dark-color);
}



.bottom-navbar{
    text-align: center;
    background:var(--green);
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
    color:#fff;
}

.bottom-navbar a:hover{
    background:var(--dark-color);
}

.home {
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.owText {
    text-align: center;
    margin-bottom: 20px;
}

.home .row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.home .row .content{
    flex:1 1 42rem;
    color: black;
}



.video-background {
    width: 100%;
    max-width: 600px;
    margin: -100px auto;
}

.video-wrap {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
}

.video-wrap iframe {
    border-radius: 10px;
    position: absolute;
    top: -25.2em;
    left: 33em;
    width: 100%;
    height: 100%;
}

.blurry-background1 .content p {
    box-sizing: border-box;
    color: #ffffff;
    font-size: 24px;
    line-height: 1.6;
    font-family: 'Georgia', serif;
  }

 .blurry-background1 {
    box-sizing: border-box;
    padding: 20px;
    margin: 1rem 0;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(148, 146, 146, 0.767);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background: rgba(255, 255, 255, 0); /* Полупрозрачный фон */
    width: 90%;
    max-width: 60em;
    margin-top: -38em;
    margin-left: 35em;
 }

        .blurry-background {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            gap: 1.5rem;
            padding: 2rem 1rem;
            border: 2px solid rgba(148, 146, 146, 0.767);
            margin: 3rem;
            backdrop-filter: blur(5px);
            max-width: 32%;
            right: 20px;
            border-radius: 10px;
            padding: 20px;
            justify-content: flex-start;
            margin-left: 20%;
            font-size: 20px;
            font-family: Arial, sans-serif;
            position: relative;
            top: -18em;
          }
          
          .blurry-background .content p {
            box-sizing: border-box;
            color: #ffffff;
            font-size: 22px;
            line-height: 1.5;
            font-family: 'Georgia', serif;
          }
          

.home .row .books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 14rem;
}

.home .row .books-slider a img{
    height: 25rem;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}


.books-slider {
    height: auto; 
    max-height: 62.01vh; 
  }
  
  
  .swiper-button-next,
  .swiper-button-prev {
    display: none; 
  }

.moving-image {
    position: absolute; 
    top: 0; 
}

#first-image {
    right: -45px;
    top: 16rem; 
}

#second-image {
    right: 8rem; 
    margin-top: 22px;
    top: 12rem; 
}

.moving-image img {
    max-width: 100%; 
    height: auto; 
}

#first-image img {
    width: 200px; 
}

#second-image img {
    width: 75px; 
}

.moving-image.zoomed img {
    transform: scale(1.2); 
}

.text3d-3 {
    font-size: 2em; /* Относительный размер шрифта */
    color: #fff;
    margin: 0;
}

#moving-text .text3d-3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3.7em;
    letter-spacing: .1em;
    color: transparent;
    -webkit-text-stroke: 2px rgb(218, 215, 215);
    position: relative;
    margin-top: -4.8em;
    margin-left: 3em;
    animation: moveUpDown 2s ease-in-out infinite; 
  }

  #moving-text .text3d-3:before {
    content: attr(data-shadow);
    color: transparent; 
    text-shadow: 0 0 15px #111; 
    position: absolute;
    z-index: -1;
    margin: -0.1em 0 0 0;
    transform-origin: bottom;
    animation: moveUpDown 2s ease-in-out infinite; 
  }
  

  @keyframes moveUpDown {
    0% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
 

  
  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 13px;
    background: #DDD;
    padding: 5px 10px;
    margin: 5px;
    
  }
  


.home .row .content p{
    color:#c9bd1e;
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
}

.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 0rem;
  }
  
  .icons-container .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
    font-size: 3.5rem;
    color: rgb(218, 194, 241);
  }
  
  .icons-container .icons h3 {
    font-size: 2.2rem;
    color: #DCDCDC;
    padding-bottom: rem;
  }
  
  .icons-container .icons p {
    font-size: 1.4rem;
    color: #DCDCDC;
  }


.featured .featured-slider .box {
    margin: 1rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
    background: #f2f2f2; 
    
}

.newsletterr{
    color: #f2f2f2;
}

.featured .featured-slider .box:hover {
    border: var(--border-hover);
    
    
}

.featured .featured-slider .box .image {
    animation: color 9s infinite linear;
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    padding: 1rem;
    background: #822baa;
  }
  
  @keyframes color {
    25% {
      background-color: #822baa;
    }
    50% {
      background-color: #350435;
    }
    75% {
      background-color: #20063d;
    }
    100% {
        background-color: #350435;
      }
    100% {
        background-color: #822baa;
      }
  }


.featured .featured-slider .box .image img{
    height: 20rem;
    
}

.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0; left:0; right: 0rem;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
    
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color:var(--black);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background:var(--green);
    color:#fff;
}

.featured .featured-slider .box .content{
    background-color: #272727;
  padding: 1rem;
  border: 0.2rem solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  position: relative;
}

.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color:yellow;
}

.featured .featured-slider .box .content .price{
    font-size: 2.2rem;
    color:white;
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color:wheat;
    text-decoration: line-through;
}

.featured .featured-slider {
    position: relative;
    overflow: hidden;
}
.featured .featured-slider::before,
.featured .featured-slider::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.featured .featured-slider::before {
    left: 0;
}

.featured .featured-slider::after {
    right: 0;
}

.swiper.books-slider .swiper-wrapper{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
}

.swiper.books-slider .swiper-slide img {
    flex: 0 0 auto;
    scroll-snap-align: start; 
}

.swiper.books-slider{
    position: relative;
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev{
    border:var(--border-hover);
    height:4rem;
    width:4rem;
    color:var(--black);
    background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--black);
    color:#fff;
}

.newsletter{
    background:url(../image/White.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.newsletter form{
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding:5rem 0;
}

.newsletter form h3{
    font-size: 2.2rem;
    color:#fff;
    padding-bottom: .7rem;
    font-weight: normal;
}

.newsletter form .box{
    width: 100%;
    margin: .7rem 0;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    color:var(--black);
    border-radius: .5rem;
    text-transform: none;
}

.container-home {
    background: url('../image/banner-bg.jpg') center/cover no-repeat;
    display: block;
    padding: 2em;
    position: relative;
height: 80%;
}



.container1 {
    background-size: 125%;
    background-position: center;

}


.arrivals {
    background-image: url(../image/planet2.png); 
    background-size: cover;
    background-position: bottom 10rem;

}


.arrivals .arrivals-slider .box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
    backdrop-filter: blur(5px);
}

.arrivals .arrivals-slider .box:hover {
    border: var(--border-hover);
    
}

.arrivals .arrivals-slider .box .image img {
    height: 16rem;

}

.arrivals .arrivals-slider .box .content h3 {
    font-size: 2rem;
    color: var(--black);
    color:#ffffff;
}

.arrivals .arrivals-slider .box .content h2 {
    font-size: 1.5rem;
    color: var(--black);
    color:rgb(255, 255, 255);
}

.arrivals .arrivals-slider .box .content .price {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
    color:rgb(255, 255, 255);
}

.arrivals .arrivals-slider .box .content .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
    color:rgb(255, 255, 255);
}

.arrivals .arrivals-slider .box .content .stars i {
    font-size: 1.5rem;
    color: var(--green);
    color:rgb(255, 255, 255);
}

.deal{
    background:#f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    
}

.deal .content{
    flex:1 1 42rem;
}

.deal .image{
    flex:1 1 42rem;
}

.deal .image img{
    width: 100%;
}

.deal .content h3{
    color:var(--green);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1{
    color:var(--black);
    font-size: 4rem;
}

.deal .content p{
    padding:1rem 0;
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

.reviews .reviews-slider .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
    margin:2rem 0;
}

.reviews .reviews-slider .box:hover{
    border:var(--border-hover);
}

.reviews .reviews-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3{
    color:var(--black);
    font-size: 2.2rem;
    padding:.5rem 0;
}

.reviews .reviews-slider .box p{
    color:var(--light-color);
    font-weight: bold;
    font-size: 1.4rem;
    padding:1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars{
    padding-top: .5rem;
}

.reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color:var(--green);
}

.blogs .blogs-slider .box{
    margin:2rem 0;
    border:var(--border);
}

.blogs .blogs-slider .box:hover{
    border:var(--border-hover);
}

.blogs .blogs-slider .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.blogs .blogs-slider .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .blogs-slider .box:hover .image img{
    transform: scale(1.1);
}

.blogs .blogs-slider .box .content{
    padding:1.5rem;
}

.blogs .blogs-slider .box .content h3{
    font-size: 2.2rem;
    color:var(--black);
}

.blogs .blogs-slider .box .content p{
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
    line-height: 2;
}

.footer{
    background-image: url(../image/planet3.png); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.5);
    
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    

}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
    padding:1rem 0;
    color:#DCDCDC;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
    color:#DCDCDC;
}

.footer .box-container .box a i{
    color:var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    width:100%;
}

.footer .share{
    padding:1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--green);
    margin:0 .3rem;
    border-radius: 50%; 
    
}

.footer .share a:hover{
    background:var(--black);
}





.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--light-color);
    text-align: center;
}

.footer .credit span{
    color:var(--green);
}

.loader-container{
    position: fixed;
    top:0; left: 0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background:#f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active{
    display: none;
}

.loader-container img{
    height:10rem;
}


section.arrivals {
    margin:0 -11%;
}


.new-products{
color: white;
font-size: 24px;
text-align: center;
text-transform: none;
}

.new-products h3, .new-products h1, .new-products p {
    text-transform: none;
}

.minimalist-theme {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.minimalist-theme h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.minimalist-theme p {
    text-transform: none;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: #666;
}

.minimalist-theme .form-group {
    margin-bottom: 30px;
}

.minimalist-theme label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.minimalist-theme input,
.minimalist-theme textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 1.1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.minimalist-theme textarea {
    height: 150px;
}

.minimalist-theme .submit-btn {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
    transition: background-color 0.3s ease;
}

.minimalist-theme .submit-btn:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    text-align: center;
    font-size: 28px;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 50%; 
    height: 7%; 
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.footer .box-container .box span{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
    color:#DCDCDC;
    text-transform: none;
}

#email {
    text-transform: none;
}




@media screen and (max-width: 320px) {
    .header .header-2{
        background:var(--green);
        text-align: center;
        
    }
    
    
    .header .header-2 .navbar a{
        background:var(--green);
        text-align: center;
        color:#fff;
        display: inline-block;
        padding:2px;
        font-size: 1px;
        
    }
    
    .header .header-2 .navbar a:hover{
        background:var(--dark-color);
    }

    #moving-text .text3d-3 {
    font-size: 25px;
  }

  .blurry-background {
    font-size: 6px;
    padding: 1rem;
    margin: 1.5rem;
    max-width: 38%;
    margin-left: 2.5%;
    top: -5em;
  }
  .blurry-background .content p {
    font-size: 8px;
  }

  .blurry-background1 {
    font-size: 6px;
    padding: 1rem;
    margin: 1.5rem;
    max-width: 38%;
    margin-left: 2.5%;
    top: -5em;
  }
  .blurry-background1 .content p {
    font-size: 8px;
  }

  .video-wrap iframe {
    top: -12.9em;
    left: 12.3em;
    max-width: 37.2%;
    height: 11em;
}


}

@media screen and (min-width: 320px) and (max-width: 376px) {
    .header .header-2{
        background:var(--green);
        text-align: center;
        
    }
    
    
    .header .header-2 .navbar a{
        background:var(--green);
        text-align: center;
        color:#fff;
        display: inline-block;
        padding:12px;
        font-size: 11px;
        
    }
    
    .header .header-2 .navbar a:hover{
        background:var(--dark-color);
    }

    #moving-text .text3d-3 {
        font-size: 11px;
        margin-top: -1em;
        margin: -18rem;
      }

      .blurry-background {
        font-size: 55px;
        padding: 1.2rem;
        margin: 1.8rem;
        max-width: 75%;
        margin-left: 20.5%;
        top: -6em;
      }
      .blurry-background .content p {
        font-size: 12px;
      }

      .blurry-background1 {
        font-size: 28.5px;
        padding: 1rem;
        margin: 2.5rem;
        max-width: 74%;
        margin-left: 15%;
        top: -5em;
        margin-top: -12em;
        
      }
      .blurry-background1 .content p {
        font-size: 12px;
      }

      .video-wrap iframe {
        display: none;
        top: -1.4em;
        left: 15.3em;
        max-width: 40.2%;
        height: 10em;
    }


    .icons-container{
      display: none;
        margin: -3em;
        display: flex;
        flex-wrap: nowrap;
    }

    .icons-container .icons {
      display: none;
        font-size: 16px;
        padding: 0.5rem 0;
        margin: 10px;
      }
      .icons-container .icons h3 {
        font-size: 4px;
      }
      .icons-container .icons p {
        font-size: 4px;
        
      }

      #first-image {
        display: none;
    }
    
    #second-image {
      display: none;
    }


}

/* 500 */

@media screen and (min-width: 376px) and (max-width: 426px) {
    .header .header-2{
        background:var(--green);
        text-align: center;
        
    }
    
    
    .header .header-2 .navbar a{
        background:var(--green);
        text-align: center;
        color:#fff;
        display: inline-block;
        padding:21px;
        font-size: 14px;
        
    }
    
    .header .header-2 .navbar a:hover{
        background:var(--dark-color);
    }
    #moving-text .text3d-3 {
        font-size: 24px;
        margin-left: 10px;
        margin-top: -200px;
      }

      .blurry-background {
        font-size: 27px;
        padding: 1.4rem;
        margin: 2rem;
        max-width: 65%;
        max-height: 78em;
        margin-left: 23.5%;
        top: -10em;
      }
      .blurry-background .content p {
        font-size: 16px;
      }

      .blurry-background1 {
        font-size: 27px;
        padding: 1.1rem;
        margin: 2rem;
        max-width: 65%;
        max-height: 78em;
        margin-left: 18.5%;
        margin-top: -10.5em;
        top: -20em;
      }
      .blurry-background1 .content p {
        font-size: 16px;
      }
      .video-wrap iframe {
        display: none;
        top: -6em;
        left: 21em;
        max-width: 37.2%;
        height: 13.8em;
    }

    .icons-container .icons {
        font-size: 34px;
        padding: 1.5rem 0;
        margin: 20px;
      }
      .icons-container .icons h3 {
        font-size: 10px;
      }
      .icons-container .icons p {
        font-size: 14px;
        
      }

      .icons-container{
        display: none;
        margin: -3em;
        display: flex;
        flex-wrap: nowrap;
    }

    .icons-container .icons {
      display: none;
        font-size: 20px;
        padding: 0.5rem 0;
        margin: 10px;
      }
      .icons-container .icons h3 {
        display: none;
        font-size: 14px;
      }
      .icons-container .icons p {
        display: none;
        font-size: 6px;
        
      }

    }




    /* 400 */
@media screen and (min-width: 426px) and (max-width: 500px) {
    .header .header-2{
        background:var(--green);
        text-align: center;
        
    }
    
    
    .header .header-2 .navbar a{
        background:var(--green);
        text-align: center;
        color:#fff;
        display: inline-block;
        padding:5px;
        font-size: 5px;
        
    }
    
    .header .header-2 .navbar a:hover{
        background:var(--dark-color);
    }

    #moving-text .text3d-3 {
        font-size: 15px;
      }

      .blurry-background {
        font-size: 12px;
        padding: 1.4rem;
        margin: 2rem;
        max-width: 38%;
        max-height: 7em;
        margin-left: 16.5%;
        top: -10em;
      }
      .blurry-background .content p {
        font-size: 7px;
      }

      .blurry-background1 {
        font-size: 12px;
        padding: 1.1rem;
        margin: 2rem;
        max-width: 38%;
        max-height: 7em;
        margin-left: 11.5%;
        margin-top: -11.5em;
        top: -20em;
      }
      .blurry-background1 .content p {
        font-size: 8px;
      }

      .video-wrap iframe {
        display: none;
        top: -8.2em;
        left: 22.2em;
        max-width: 37.2%;
        height: 15.9em;
    }


    .icons-container{
        margin: -3em;
        display: flex;
        flex-wrap: nowrap;
    }

    .icons-container .icons {
        font-size: 20px;
        padding: 0.5rem 0;
        margin: 10px;
      }
      .icons-container .icons h3 {
        font-size: 10px;
      }
      .icons-container .icons p {
        font-size: 4px;
        
      }

}


/* 250 */

@media screen and (min-width: 500px) and (max-width: 768px) {
    .header .header-2{
        background:var(--green);
        text-align: center;
        
    }
    
    
    .header .header-2 .navbar a{
        background:var(--green);
        text-align: center;
        color:#fff;
        display: inline-block;
        padding:8px;
        font-size: 8px;
        
    }
    
    .header .header-2 .navbar a:hover{
        background:var(--dark-color);
    }

    #moving-text .text3d-3 {
        font-size: 20px;
      }
      .blurry-background {
        font-size: 16px;
        padding: 1.4rem;
        margin: 2rem;
        max-width: 38%;
        max-height: 8em;
        margin-left: 13.5%;
        top: -10em;
      }
      .blurry-background .content p {
        font-size: 12px;
      }

      .blurry-background1 {
        font-size: 11px;
        padding: 1.1rem;
        margin: 2rem;
        max-width: 38%;
        max-height: 7em;
        margin-left: 10.5%;
        margin-top: -16em;
        top: -20em;
      }
      .blurry-background1 .content p {
        font-size: 12px;
      }
      .video-wrap iframe {
        top: -12.2em;
        left: 29.8em;
        max-width: 45.2%;
        height: 19.9em;
    }


    .icons-container{

        display: flex;
        flex-wrap: nowrap;
    }

    .icons-container .icons {
        font-size: 24px;
        padding: 1.5rem 0;
        margin: 20px;
      }
      .icons-container .icons h3 {
        font-size: 10px;
      }
      .icons-container .icons p {
        font-size: 4px;
        
      }

}


/* 200 */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header .header-2{
        background:var(--green);
        text-align: center;
        
    }
    
    
    .header .header-2 .navbar a{
        background:var(--green);
        text-align: center;
        color:#fff;
        display: inline-block;
        padding:10px;
        font-size: 10px;
        
    }
    
    .header .header-2 .navbar a:hover{
        background:var(--dark-color);
    }
    #moving-text .text3d-3 {
        font-size: 26px;
      }

      .blurry-background {
        font-size: 18px;
        padding: 1.2rem;
        margin: 2.1rem;
        max-width: 35%;
        margin-left: 15.5%;
        top: -11em;
      }
      .blurry-background .content p {
        font-size: 15px;
      }

      .blurry-background1 {
        font-size: 17px;
        padding: 1.2rem;
        margin: 2.1rem;
        max-width: 35%;
        margin-left: 13.3%;
        top: -11em;
        margin-top: -12.5em;
      }
      .blurry-background1 .content p {
        font-size: 15px;
      }

      .video-wrap iframe {
        top: -19em;
        left: 30.1em;
        max-width: 52.5%;
        height: 26.6em;
    }


    .icons-container{

        display: flex;
        flex-wrap: nowrap;
    }

    .icons-container .icons {
        font-size: 26px;
        padding: 1.5rem 0;
        margin: 20px;
      }
      .icons-container .icons h3 {
        font-size: 12px;
      }
      .icons-container .icons p {
        font-size: 6px;
        
      }

}


/* 175 */
@media screen and (min-width: 1024px) and (max-width: 1222px) {

    .header .header-2{
        background:var(--green);
        text-align: center;
        
    }
    
    
    .header .header-2 .navbar a{
        background:var(--green);
        text-align: center;
        color:#fff;
        display: inline-block;
        padding:8px;
        font-size: 12px;
        
    }
    
    .header .header-2 .navbar a:hover{
        background:var(--dark-color);
    }

    #moving-text .text3d-3 {
      font-size: 30px;
    }

    .blurry-background {
        font-size: 20px;
        padding: 1rem;
        margin: 2rem;
        max-width: 34%;
        margin-left: 15.5%;
        top: -11em;
      }
      .blurry-background .content p {
        font-size: 17px;
      }

      .blurry-background1 {
        font-size: 18.5px;
        padding: 1.2rem;
        margin: 2.1rem;
        max-width: 34%;
        margin-left: 13.6%;
        top: -11em;
        margin-top: -12.5em;
      }
      .blurry-background1 .content p {
        font-size: 17px;
      }

      .video-wrap iframe {
        top: -21.5em;
        left: 29em;
        max-width: 59%;
        height: 29.3em;
    }


    .icons-container .icons {
        font-size: 32px;
        padding: 2rem 0;
      }
      .icons-container .icons h3 {
        font-size: 14px;
      }
      .icons-container .icons p {
        font-size: 6px;
      }


      .icons-container{
        padding: 1px;
        padding-right: 1px;
        margin: -10px;
    }



  }

/* 150 */
  @media screen and (min-width: 1222px) and (max-width: 1448px) {

    .header .header-2{
        background:var(--green);
        text-align: center;
        
    }
    
    
    .header .header-2 .navbar a{
        background:var(--green);
        text-align: center;
        color:#fff;
        display: inline-block;
        padding:10px;
        font-size: 14px;
        
    }
    
    .header .header-2 .navbar a:hover{
        background:var(--dark-color);
    }

    #moving-text .text3d-3 {
        font-size: 30px;
      }
  
      .blurry-background {
        font-size: 22px;
        padding: 1rem;
        margin: 2rem;
        max-width: 34%;
        margin-left: 17.5%;
        top: -11em;
      }
      .blurry-background .content p {
        font-size: 17px;
      }

      .blurry-background1 {
        font-size: 20.5px;
        padding: 1.2rem;
        margin: 2.1rem;
        max-width: 34%;
        margin-left: 16%;
        top: -11em;
        margin-top: -12.5em;
      }
      .blurry-background1 .content p {
        font-size: 17px;
      }

      .video-wrap iframe {
        top: -16.2em;
        left: 31em;
        max-width: 70%;
        height: 24em;
    }

    .icons-container{
        padding: 1px;
        padding-right: 1px;
        margin: -10px;
    }

    .icons-container .icons {
        font-size: 32px;
        padding: 1.5rem 0;
      }
      .icons-container .icons h3 {
        font-size: 16px;
      }
      .icons-container .icons p {
        font-size: 8px;
        
      }
  }

  /* 125 */
  @media screen and (min-width: 1448px) and (max-width: 1674px) {

    .header .header-2{
        background:var(--green);
        text-align: center;
        
    }
    
    
    .header .header-2 .navbar a{
        background:var(--green);
        text-align: center;
        color:#fff;
        display: inline-block;
        padding:10px;
        font-size: 14px;
        
    }
    
    .header .header-2 .navbar a:hover{
        background:var(--dark-color);
    }


    #moving-text .text3d-3 {
        font-size: 30px;
      }
  
      .blurry-background {
          font-size: 22px;
          padding: 2.4rem;
          margin: 3rem;
          max-width: 35%;
          margin-left: 19.5%;
          top: -12em;
        }
        .blurry-background .content p {
          font-size: 20px;
        }
  
        .blurry-background1 {
          font-size: 18px;
          padding: 2.4rem;
          margin: 3rem;
          max-width: 35%;
          margin-left: 18%;
          top: -12em;
          margin-top: -16em;
        }
        .blurry-background1 .content p {
          font-size: 22px;
        }

        .video-wrap iframe {
            top: -26.2em;
            left: 36em;
            max-width: 85%;
            height: 33em;
        }

        .icons-container .icons {
            font-size: 36px;
            padding: 2rem 0;
          }
          .icons-container .icons h3 {
            font-size: 18px;
          }
          .icons-container .icons p {
            font-size: 10px;
          }

          .container-home {
            padding: 3.2em;
        }

  }

/* 110 */
  @media screen and (min-width: 1674px) and (max-width: 1848px) {

    .blurry-background {
        font-size: 28px;
        padding: 2.4rem;
        margin: 3rem;
        max-width: 30%;
        margin-left: 19.5%;
        top: -12em;
      }
      .blurry-background .content p {
        font-size: 20px;
      }

    .blurry-background1 {
        font-size: 18px;
        padding: 2.4rem;
        margin: 3rem;
        max-width: 30%;
        margin-left: 18.4%;
        top: -12em;
        margin-top: -20em;
      }
      .blurry-background1 .content p {
        font-size: 22px;
      }

      .video-wrap iframe {
        top: -26.6em;
        left: 30em;
        max-width: 90%;
    }


    .icons-container .icons {
        font-size: 38px;
        padding: 2rem 0;
      }
      .icons-container .icons h3 {
        font-size: 20px;
      }
      .icons-container .icons p {
        font-size: 12px;
      }



      .container-home {
        padding: 1.2em;
    }
      
  }